{% extends 'base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>{{ post.title | title | raw }}</strong> - <small> <a href="/post/user?name={{post.username}}">{{ post.username }}</a></small>
            <span class="pull-right">{{ post.created_at | date("F j, Y, g:i a")  }}</span>
        </div>
        <div class="panel-body">
            {{ post.body | raw }}
            {% if name == post.username %}
                <p>
                    <span class="pull-right"> <a href="/post/{{ post.id }}/delete"> DELETE</a> </span>
                </p>
            {% endif %}
        </div>
    </div>
    {% for comment in comments %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <i><a href="/post/user-comment?name={{ comment.username }}">{{ comment.username }}</a> commented</i>
                <span class="pull-right">{{ comment.created_at | date("F j, Y, g:i a")  }}</span>
            </div>
            <div class="panel-body">
                {{ comment.body }}
                {% if name == comment.username %}
                <p>
                    <span class="pull-right"> <a href="/post/{{ comment.id }}/delete-comment?postId={{ post.id }}"> DELETE</a> </span>
                </p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if is_logged %}
            {% include 'post/add_comment.html' %}
    {% endif %}
{% endblock %}